<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Employee </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel="stylesheet" href="/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
  function getId()
  {
       $.ajax( 
		 { 
			 url:"/empdetail",
			 success:function(data) 
			 { 
				 console.log(data);
			     var emp='';
				 $.each( data, function(key,value) 
				   {
					    console.log(value.empid);
					    emp+='<button type="button" class="btn btn-outline-danger btn-sm btn-block" data-toggle="modal" data-target="#updateModal" onclick="deleteInfo('+value.empid+');">'+value.empid+'</button>';
				   });
			    $('#id').html(emp);
			 },
			 type:'GET' // POSt   PUT   DELETE  
		 } );
  }
  
  
  function getName()
  {
       $.ajax( 
		 { 
			 url:"/empdetail",
			 success:function(data) 
			 { 
				 console.log(data);
			     var emp='';
				 $.each( data, function(key,value) 
				   {
					    console.log(value.empid);
					    emp+='<button type="button" class="btn btn-outline-danger btn-sm btn-block" data-toggle="modal" data-target="#updateModal" onclick="deleteInfo('+value.empid+');">'+value.empname+'</button>';
				   });
			    $('#name').html(emp);
			 },
			 type:'GET' // POSt   PUT   DELETE  
		 } );
  }
  
  function getMobile()
  {
       $.ajax( 
		 { 
			 url:"/empdetail",
			 success:function(data) 
			 { 
				 console.log(data);
			     var emp='';
				 $.each( data, function(key,value) 
				   {
					    console.log(value.empid);
					    emp+='<button type="button" class="btn btn-outline-danger btn-sm btn-block" data-toggle="modal" data-target="#updateModal" onclick="deleteInfo('+value.empid+');">'+value.empmobile+'</button>';
				   });
			    $('#mobile').html(emp);
			 },
			 type:'GET' // POSt   PUT   DELETE  
		 } );
  }
  
  function getEmail()
  {
       $.ajax( 
		 { 
			 url:"/empdetail",
			 success:function(data) 
			 { 
				 console.log(data);
			     var emp='';
				 $.each( data, function(key,value) 
				   {
					    console.log(value.empid);
					    emp+='<button type="button" class="btn btn-outline-danger btn-sm btn-block" data-toggle="modal" data-target="#updateModal" onclick="deleteInfo('+value.empid+');">'+value.empemail+'</button>';
				   });
			    $('#email').html(emp);
			 },
			 type:'GET' // POSt   PUT   DELETE  
		 } );
  }
  
  function deleteInfo(data){
	   console.log(data);
	   $.ajax( {
		    type:"DELETE",
		    url:"/empdetail/ "+ data, 
		    contentType: "application/json",
			
			success:function(resp, status){
				console.log(resp+" "+ status);	
				alert("deleted");
			},
			
	});
}
  
  </script>
  
</head>

<body>
  <main>
    <div class="container text-center">
      <h1 class="bg-light py-4 text-danger">
        <i class="fas fa-user-graduate"></i>   Delete Employee Details
      </h1>
      <div class="d-flex justify-content-center">
       <img class="bg obj-fit-cover" style="width: 50%;"src="/empp.jpg" alt="">
      </div><br>
      <div class="d-flex justify-content-center">
        <div class="row">
        <div class="col-md-3">
        <div class="dropdown">
          <button class="fas fa-trash-alt btn btn-danger pull-right" onclick="getId();"> ID</button>
          <div class="dropdown-content" id="id">
          
          </div>
        </div>
        </div>
    <div class="col-md-3">
    <div class="dropdown">
      <button class="fas fa-trash-alt btn btn-danger" onclick="getName();">Name</button>
      <div class="dropdown-content" id="name">
             
      </div>
    </div>
    </div>
    <div class="col-md-3">
      <div class="dropdown">
        <button class="fas fa-trash-alt btn btn-danger" onclick="getMobile();">Mobile</button>
        <div class="dropdown-content" id="mobile">
             
        </div>
      </div>
      </div>
      <div class="col-md-3">
        <div class="dropdown">
          <button class="fas fa-trash-alt btn btn-danger" onclick="getEmail();">Email</button>
          <div class="dropdown-content" id="email">
           
          </div>
        </div>
        </div>
    </div>
  </div>
    <div class="d-flex justify-content-center">
      <img style="width: 45%;" src="img.jpg" alt="">
    </div>
  
  </div>
  </main>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

  <!-- Include Dexie -->
  <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>

  <!-- Custom main file-->
  <script src="../js/main.js" type="module"></script>
</body>

</html>